# Flask Configuration
FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
PORT=5000
# Set HOST_PORT to 5001 if port 5000 is used by macOS AirPlay Receiver
HOST_PORT=5000

# MySQL Configuration
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=midosis_db
MYSQL_USER=midosis_user
MYSQL_PASSWORD=midosis_password
MYSQL_ROOT_PASSWORD=root_password

# Database URL for SQLAlchemy
DATABASE_URL=mysql+pymysql://midosis_user:midosis_password@mysql:3306/midosis_db
